name: 'TODO'

scopeName: 'text.todo'

type: 'tree-sitter'

parser: 'tree-sitter-todo'

injectionRegex: 'todo'

scopes:
  'todo > todo_token': 'storage.type.class' # TODO: support regex capture to scope name
